.profile-container .component-cv .button-delete {
  display: none;
}
.profile-container .component-cv:hover .button-delete {
  display: block;
}
.profile-container .component-cv .ant-popover-inner:hover .button-delete {
  display: block;
}
:where(.css-dev-only-do-not-override-240cud).ant-layout{
  background-color: none;
}
.layoutStyle {
  overflow: hidden;
  max-width: calc(60% - 8px);
  height: calc(100% - 8px);
  margin-top: 30px;
}
.siderStyle {
  /* height: auto;  Chiều cao tự động theo số lượng items */
  /* max-height: fit-content; Đảm bảo không bị quá nhỏ */
  background-color: #fff;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  /* background-color: saddlebrown; */
  border: 1px solid #dfd4d4;
  border-radius: 15px 0 0 15px;
}

.contentStyle {
  text-align: center;
  min-height: 50vh;
  line-height: 120px;
  background-color: #fff;
  border: 1px solid #dfd4d4;
  border-radius: 0 15px 15px 0;
}
