.discount-code-card {
  /* width: 412px; */
  height: 158px;
  border-radius: 10px;
  background: #fff;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.discount-code-card h3 {
  margin: 20px 0px;
  color: var(--en-t, #44353f);
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.discount-input-container {
  display: flex;
  gap: 8px;
  align-items: center;
}

.discount-input {
  flex: 1;
  height: 40px;
  border: none;
  border-radius: 5px;
  background: #f7eff1;
  font-size: 14px;
}

.apply-button {
  background-color: #d63384;
  color: white;
  border: none;
  height: 40px;
  border-radius: 5px;
  padding: 0 16px;
  font-size: 14px;
  cursor: pointer;
}

.apply-button:hover {
  background-color: #b0226a !important;
  color: #fff !important;
}

.ant-btn {
  margin-top: 0px;
}