.page-layout {
  width: 100%;
  flex-grow: 1;
   margin: auto;
  height: 100%;
  /* padding-top: 100px; */
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
