

/* Footer chính */
.custom-footer {
  background: #ffd1d1;
  width: 100%;
  padding: 20px 0;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
}

/* Chứa các cột của footer */
.footer-container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 20px;
}

/* Định dạng từng cột */
.footer-column {
  flex: 1;
  /* min-width: 250px;
  max-width: 400px; */
  color: var(--en-t, #44353f);
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin: 0 5px;
  line-height: normal;
}

.footer-column h3 {
  color: #847a7a;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
}

.footer-column p {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 10px 0;
}


.subscribe-section {
  text-align: left;
}

.subscribe {
  display: flex;
  align-items: center;
  gap: 0; 
}

.email-input {
  flex: 1;
  width: 150px;
  height: 30px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.subscribe-button {
  height: 30px;
  background-color: #c0437f;
  color: white;
  padding: 5px 5px;
  border: 1px solid #c0437f;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background 0.3s ease;
  font-size: 10px;
}

.subscribe-button:hover {
  background-color: #e6005c;
}


/* Copyright */
.footer-bottom {
  text-align: center;
  margin-top: 10px;
}

.footer-bottom hr {
  border: 0;
  height: 1px;
  background: black;
  margin-bottom: 10px;
}
