/* Checkout Page Styles */
.checkout-page {
  /* display: grid; */
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  padding: 20px;
  margin-top: 120px;
  width: 100%;
  max-width: 1100px;
  background: #faf6f6;
}

.shipping-title {
  color: var(--en-t, #44353f);
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
/* Custom Card Style */
.custom-card,
.payment-card,
.order-summary-card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

/* Shipping Info */
.custom-card h2 {
  font-size: 18px;
  color: #333;
  margin-bottom: 15px;
}

/* Form Inputs */
.ant-form-item label {
  font-weight: bold;
  color: #555;
}

.ant-input,
.ant-select-selector {
  border-radius: 8px;
  border: 1px solid #dfe1e3;
  background: #fff;
}

/* Payment Method */
.payment-container {
  /* width:  */
  height: 476px;
}

.payment-title {
  margin: 30px 0px;
  color: var(--en-t, #44353f);
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.payment-card {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.card-info {
  display: flex;
  gap: 20px;
}

.half-width {
  flex: 1;
}

.checkout-page .save-button {
  background-color: #d63384;
  border: none;
  color: white;
}
.checkout-page .save-button:hover {
  background-color: #b0226a !important;
}

/* checkout buttonbutton */
.checkout-button-container {
  /* margin-top: 10px; */
}

.checkout-page .checkout-button {
  height: 62px;
  width: 100%;
  border-radius: 8px;
  border: none;
  background: var(--mu-nhn, #c0437f);
  color: #fff;
}
.checkout-button:hover {
  background-color: #c0437f !important;
  color: #fff !important;
}
