/* blogPage.module.css */

.pageContainer {
  padding: 20px;
  background-color: #f9f9f9;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.searchInput {
  width: 300px;
  border-radius: 8px;
  padding: 8px;
  margin-right: 20px; /* Adding margin between input and button */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.addButton {
  align-self: center;
  font-size: 16px;
  padding: 0 20px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.addButton:hover {
  background-color: #1890ff;
  color: white;
}

.blogList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}

.blogItem {
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  height: 360px; /* Fixed height */
  display: flex;
  flex-direction: column;
}

.blogItem .ant-card-meta-title {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.blogItem .ant-card-meta-description {
  font-size: 1rem;
  color: #555;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.blogItem .ant-card-cover img {
  object-fit: cover;
  height: 200px;
}

.blogItem .ant-card-actions {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.inputField {
  width: 100%;
}

.textArea {
  width: 100%;
}

.ant-btn {
  font-size: 14px;
}

.uploadButton {
  margin-top: 20px;
}

.imagePreview {
  margin-top: 20px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.modalFooterButton {
  font-size: 16px;
}

@media (max-width: 768px) {
  .searchInput {
    width: 250px;
  }
}

@media (max-width: 480px) {
  .searchInput {
    width: 200px;
  }

  .blogItem {
    transform: scale(1);
  }
}
