/* Header của Blog */
.blog-description .blog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.blog-description .blog-path,
.blog-description .author-info {
  font-size: 14px;
  color: #555;
}

/* Hình ảnh */
.blog-description .main-image {
  width: 100%;
  max-height: 511px;
  object-fit: cover;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.blog-description .image-container {
  width: 100%;
  text-align: center;
}

/* Nội dung */
.blog-description .content-item {
  display: flex;
  flex-direction: column;
  text-align: justify;
  margin-top: 15px;
}

.blog-description .blog-text {
  width: 100%;
  line-height: 1.6;
  color: #474646;

/* body bài viết báo */
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 140% */
}

/* Khu vực chia sẻ */
.blog-description .share-text {
  color: #5f5f5f;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.blog-description .share {
  margin-top: 20px;
  font-size: 25px;
  color: grey;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Sidebar */
.blog-description .sidebar {
  background: rgba(255, 195, 195, 0.26);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* width: 343px; */
  height: 550px;
  flex-shrink: 0;
}

.blog-description .sidebar .ant-card-head {
  background: rgba(255, 195, 195, 0.26);
  color: var(--en-t, #44353f);
  text-align: left;
}

.blog-description .sidebar .ant-list-item {
  margin: 0 20px;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  color: var(--en-t, #44353f);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 125% */
  text-transform: uppercase;
}

.blog-description .sidebar .ant-list-item a {
  color: var(--en-t, #44353f);
  text-decoration: none;
}

.blog-description .sidebar .ant-list-item a:hover {
  text-decoration: underline;
}

/* Xóa padding, margin, border mặc định */
.blog-description .ant-card,
.blog-description .ant-list,
.blog-description .ant-typography {
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
  box-shadow: none !important;
}

.blog-description .ant-card-body {
  padding: 0 !important;
  border-radius: 0 !important;
}
